*{	
	margin: 0;
	padding: 0;
}
body{
	background: linear-gradient(to bottom, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
	}
	.main{
			margin: 80px;
			background: #F2B309;
		}
		header{
				height: 150px;
				background: #F2B309
			}